<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
  MyBatis mapper for User operations.

  This mapper defines SQL queries to interact with the "users" table,
  mapping results to UserJpaEntity objects.
-->
<mapper namespace="jalau.usersapi.infrastructure.mysql.mybatis.UserMyBatisMapper">

  <!-- Retrieves all users from the database. -->
  <select id="findAllUsers" resultType="jalau.usersapi.infrastructure.mysql.entities.UserJpaEntity">
    SELECT id, name, login, password
    FROM users
  </select>

  <!-- Create a user in database. -->
  <insert id="createUser" parameterType="jalau.usersapi.infrastructure.mysql.entities.UserJpaEntity">
    INSERT INTO users (id, name, login, password)
    VALUES (#{id}, #{name}, #{login}, #{password})
  </insert>

  <!-- Retrieves a user by id from the database. -->
  <select id="getUserById" resultType="jalau.usersapi.infrastructure.mysql.entities.UserJpaEntity">
    SELECT id, name, login, password
    FROM users
    WHERE id = #{id}
  </select>

  <!-- Delete a user by id from the database. -->
  <delete id="deleteUserById">
    DELETE
    FROM users
    WHERE id = #{id}
  </delete>

  <update id="updateUser" parameterType="jalau.usersapi.infrastructure.mysql.entities.UserJpaEntity">
    UPDATE users
    SET name = #{name},
        login = #{login},
        password = #{password}
    WHERE id = #{id}
  </update>

  <select id="getUserByLogin" resultType="jalau.usersapi.infrastructure.mysql.entities.UserJpaEntity">
    SELECT id, name, login, password
    FROM users
    WHERE login = #{login}
  </select>

</mapper>
